@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");

/*==============VARIABLES CSS ============*/
:root {
  --header-height: 3.5rem;
  --primary-color: hsl(18, 95%, 55%);
  --secondary-color: hsl(42, 98%, 52%);
  --first-gradient: linear-gradient(
    90deg,
    hsl(18, 95%, 55%),
    hsl(18, 98%, 64%)
  );
  --title-color: hsl(255, 12%, 12%);
  --text-color: hsl(225, 12%, 24%);
  --text-color-light: hsl(220, 19%, 91%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(255, 20%, 10%);
  --gray-border: hsl(225, 6%, 90%);
  /*=============== Font AND typography ==============*/
  /* .5rem = 8px | 1rem = 16px ...*/
  --body-font: "Nunito Sans", sans-serif;
  --body-font-size: 2.25rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.2rem;
  --h2-font-size: 1rem;
  --h3-font-size: 0.9rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  /*================ Font weight================= */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*================= z index ==============*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 5rem 1rem;
}
.seccion__title,
.seccion__subtitle {
  text-align: center;
}
.seccion__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.seccion__subtitle {
  display: block;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}
.main {
  overflow: hidden;
}
/*=============== HEADER AND NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background-color .4s;
}
.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}
.nav__logo span {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}
.nav__logo i{
  color: var(--primary-color);
  font-size: 1.25rem;
}
.nav__toggle,
.nav__close{
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
  transition: color .4s;
}
/*=============== NAVEGATION FOR MOBILE DEVICES ===============*/
@media screen and (max-width:800px) {
  .nav__menu{
    position: fixed;
    top: 0;
    right:-100%;
    background-color: var(--black-color);
    width: 80%;
    height: 100%;
    padding: 7.5rem 3.5rem 0;
    border-left: 2px solid var(--black-color);
    transition: right .4s;
  }
}
.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.nav__link{
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}
.nav__link:hover{
  color: var(--primary-color);
}
.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/*=============== SHOW MENU ===============*/
.show-menu{
  right: 0;
}
/*=============== CHANGE BACKGROUND HEADER ===============*/
.bg-header{
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(255,90%, 8%, .1);
}

.bg-header .nav__logo span,
.bg-header .nav__toggle{
  color: var(--title-color);
}
/*=============== ACTIVE LINK ===============*/

/*=============== HOME ===============*/
.home{
  position: relative;
  background-color: var(--black-color);
}
.home__container{
  position: relative;
  row-gap: 3rem;
  padding-block: 2.5rem 6rem;
}

.home__content{
  row-gap: 2.5rem;
}

.home__data{
  text-align: center;
}
.home__title{
  color: var(--white-color);
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}
.home__description{
  margin-bottom: 2.5rem;
  color: var(--text-color-light);
}
.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home__info{
  display: flex;
  justify-content: center;
  column-gap: 4.5rem;
}
.home__info-title{
 color: var(--secondary-color);
 font-size: var(--big-font-size);
 font-weight: var(--font-bold);
 margin-bottom: .5rem;
}
.home__info-description{
  font-size: var(--small-font-size);
  color: var(--white-color);
}

.home__images{
  position: relative;
  justify-self: center;
}
.home__img-1{
  width: 250px;
  margin-left: 3.5rem;
}
.home__img-2{
  width: 150px;
  border: 5px solid var(--black-color);
  position: absolute;
  left: 0;
  bottom: -3.5rem;
}
.home__lines{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

/*=============== BUTTON ===============*/
.button{
  display: inline-flex;
  background: var(--first-gradient);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  transition: box-shadow .4s;
}
.button:hover{
  box-shadow: 0 8px 32px hsla(18,95%,55%,.3);
  color: var(--white-color);
}
.button__link{
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--primary-color);
}
.button__link span{
  font-weight: var(--font-semi-bold);
}
.button__link i{
  font-size: 1.5rem;
  transition: transform .4s;
}
.button__link:hover i{
  transform: translateX(.25rem);
}
/*=============== ABOUT ===============*/
.about__container{
  row-gap: 8rem;
  color: var(--text-color);
}
.about__data{
  text-align: center;
}
.about__description{
  margin-bottom: 2rem;
}
.about__list{
  text-align: initial;
  grid-template-columns: repeat(2, 130px);
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.about__list-item{
  display: flex;
  column-gap: .5rem;
  color: var(--title-color);
}

.about__list-item i{
  font-size: 1.25rem;
  color: var(--primary-color);
}
.about__images{
  position: relative;
  justify-self: center;
}
.about__img-1{
  width: 200px;
  border: 5px solid var(--body-color);
  position: absolute;
  top: -5rem;
  left: 6rem;
}
.about__img-2{
  width: 250px;
  margin-right: 2.5rem;
}
/*=============== Services ===============*/
.services{
  position: relative;
}
.services__container{
  position: relative;
  row-gap: 2rem;
}
.services__swiper{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.services__data{
  text-align: center;
}
.services__description{
  margin-bottom: 2rem;
}
.services__card{
  width: auto;
  background-color: var(--container-color);
  border: 2px solid var(--gray-border);
  padding: 2rem 1rem 3.5rem;
  transition: border-color .4s;
  max-width: 280px;
  min-width: 260px;
}
.services__card:hover{
  border-color: var(--primary-color);
}
.services__icon{
  width: 70px;
  height: 70px;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services__title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}
/*=============== SWIPER ===============*/
.swiper{
  margin-inline: initial;
  padding: 4rem;
}
.swiper-Slide{
  display: flex;
  justify-content: center;
}
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}
.swiper-button-prev,
.swiper-button-next{
  top: 50%;
  bottom: 0;
  width: 32px;
  height: 32px;
  background-color: var(--container-color);
  box-shadow: 0 2px 8px hsla(255, 8%, 4%, .1);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--title-color);
}
.swiper-button-prev{
  left: calc(50% - 3rem);
}
.swiper-button-next{
  right: calc(50% - 3rem);
}
/*=============== ABOUT ===============*/
/*=============== ABOUT ===============*/

